<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="images/icon.png" />
    <script src="https://cdn.jsdelivr.net/npm/dayjs@1/dayjs.min.js"></script>
    <script src="js/bulma.js"></script>
    <script src="data/weather_data.js"></script>
    <script src="js/focusWeather.js"></script>
  
    <script src="js/default.js"></script>
    <script src="js/cards.js"></script>
    
    
    <title>Weather App</title>
  
</head>

<body>
  <container class=" hero is-fullheight">
    {% include "header.njk" %}
    
        <div class=" block has-text-centered is-size-1 has-text-warning " >  <!--  focus on city and  --> 
            <h1 id="cityName">Enter City here</h1>
        </div>
            <div class="grid has-text-centered level" > <!-- Focus on one city  --> 
                <div class="cell has-text-centered level-item " >
                    <div class="box ">
                    <article class="media">
                      <div class="level-item">
                        <figure class="image is-64x64">
                          <img id="weatherIcon" src="images/sun.png" alt="Image" />
                        </figure>
                      </div>
                      <div class="media-content">
                        <div class="content">
                          
                            <h1 id="day" ></h1>
                            <h2 id="time"></h2>
                            <p>Weather code:
                            <strong id="weatherCode"></strong> </p>
                            <p>Temperature: :
                           <strong id="temperature_2m"></strong></p>
                           <p>Wind:
                           <strong id="wind_speed_10m"></strong></p>
                          </p>
                        </div>
                        <div class="content">
                            <p>Relative Humidity:
                              <strong id="relative_humidity_2m"></strong> 
                            </p>
                          </div>
                          <div class="content">
                            <p> Precipitation probabilty :
                              <strong id="precipitation_probability"></strong>
                              </p>
                          </div>
                      </div>
                    </article>
                    </div>
                </div>
            </div>
          
    <section id="cardContainer" class="grid has-background-white" > <!-- grid with days of the week --> 
    </section>
     
    {% include "footer.njk" %}
  </container>
</body>

</html>