<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icon.png" />
    <script src="/js/bulma.js"></script>
    <script src="/js/dashboardBoxes.js"></script>
    <title>Dashboard</title>
</head>
<body>
  <container class=" hero is-fullheight">
    {% include "header.njk" %}
   
    <div class="block has-text-centered has-text-warning is-size-1" >  <!--  focus on city and  --> 
        <h1>Today's Weather</h1>
    </div>

            <section id="cardSection" class=" has-background-white columns is-multiline" > <!-- main grid --> 
            </section>
    {% include "footer.njk" %}
  </container>
</body>
</html>