<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.0/css/bulma.min.css">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icon.png" />
    <script src="/js/bulma.js"></script>
    <script src="/js/settings.js"></script>
      
    <title>Settings</title>
</head>
<body>
  <container class=" hero is-fullheight">
    {% include "header.njk" %}
    
    <section class="level columns is-multiline is-centered" >
    <div class="column level-item mb-10 is-1 has-text-centered">
        <div class="box  is-size-1 has-text-warning">Favourite cities
      
        <div id ="city-buttons"class="buttons level-item are-large ">
             <!--Cities are printed here --> 
          </div>
        </div>
    </div>
  
    <div class="column level-item mb-10 is-1  level-item mb-10 has-text-centered">
          <div class="box has-text-centered is-size-1 has-text-warning">Settings
           
            <div  id="weather-buttons" class="buttons level-item are-large ">
                <!--weather settings are printed here --> 
            </div>
         </div>
    </div>
  </section>
    {% include "footer.njk" %}
  </container>
</body>
</html>